<div class="container mt-3">
    <h3>Consulta de produtos</h3>
    <p>
        Visualize os produtos cadastrados
        e seus estoques e categorias.
    </p>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Nome do produto</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th>Fornecedor</th>
                <th>Categoria</th>
                <th>Operações</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">
                    Quantidade de produtos: 0
                </td>
            </tr>
        </tfoot>
    </table>
</div>