<div class="row mt-5">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <h3>Acessar Sistema</h3>
                    <p>Entre com os seus dados de usuário</p>
                </div>

                <form>
                    <div class="mb-3">
                        <label>Email de acesso:</label>
                        <input type="text" class="form-control" placeholder="Digite o email aqui." />
                    </div>
                    <div class="mb-3">
                        <label>Senha de acesso:</label>
                        <input type="password" class="form-control" placeholder="Digite a senha aqui." />
                    </div>
                    <div class="mb-3 d-grid">
                        <button type="submit" class="btn btn-primary">
                            Entrar no sistema
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>